.checkout {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__right {
    order: -1;
}

@media (min-width: 768px) {
    .checkout {
        flex-direction: row;
    }

    .checkout__left,
    .checkout__right {
        order: 0;
        width: auto;
    }

    .checkout__left {
        flex-grow: 1;
    }
}

