.header {
    height: 60;
    display: flex;
    align-items: center;
    background-color: #000c1c;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header__logo {
    display: flex;
    color: white;
    margin-right: 10px;
    padding: 10px;
}

.header__imageLogo {
    height: 30px;
    margin-top: 8px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #f69a33;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.header__optionLineOne {
    font-size: 12px;
}

.header__optionLineTwo {
    font-size: 14px;
    font-weight: 700;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}