.product-popup-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    display: flex; /* Add flex display */
    flex-direction: column; /* Arrange children in a column */
    align-items: stretch; /* Stretch children across the container width */
}

.product-popup-container form {
    width: 100%;
}

.product-popup-container input,
.product-popup-container select,
.product-popup-container button {
    width: 100%;
    margin-bottom: 10px; 
    height: 30px;
    border-radius: 8px;
    border: solid 1px lightgray;
}

.productPopup__saveButton {
    background-color: #fccf9d;
}
